{% extends 'base.html' %}

{% block cssrules %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block title %}
<title>About The Poll Application</title>
{% endblock %}

{% block content %}

<div class="primary-container">
    <h1>About</h1>
    <p>Adam Pachulski</p>
    <p>CST 8002</p>
    <p>Programming Language Project</p>
    <p>Assignment Date: April 17, 2025</p>
    <p>Github Link to project:<a href="https://github.com/AdarrFX/pollapp">https://github.com/AdarrFX/pollapp</a> </p>
    <a href="/">Go to Index</a>
</div>

{% endblock %}