{% block pollarea %}
<ul>
    {% for poll in polls %}
    <li>
        <div class="pollcontainer">
            <h3 class="polltitle">{{ poll.question }}</h3>
            <form method="POST" action="{% url 'vote' %}">
                <input type="hidden" name="poll_id" value="{{ poll.id }}">
                {% csrf_token %} 
                <ul>
                    {% for option in poll.options.all %}
                    <li>
                        <button type="submit" name="option_id" value="{{ option.id }}">
                            {{ option.option_text }}
                        </button>
                        <p>Votes: {{ option.votes }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </form>


        </div>
    </li>
    {% empty %}
    <li>No active polls available at the moment.</li>
    {% endfor %}
</ul>
{% endblock %}