{% block pollarea %}
<ul>
    {% for poll_data in polls %}
    {% with poll=poll_data.poll userHasVoted=poll_data.userHasVoted %}
    <li>
        <div class="pollcontainer">
            <h3 class="polltitle">{{ poll.question }}</h3>
            <form method="POST" action="{% url 'vote' %}">
                <input type="hidden" name="poll_id" value="{{ poll.id }}">
                {% csrf_token %} 
                <ul class="options-container">
                    {% for option in poll.options.all %}
                    <li>
                    <!-- Since VoteTracking has a ForeignKey to Poll, Django automatically creates a reverse relation on Poll called votetracking_set. -->
                        {% if user.is_authenticated and not userHasVoted %}
                            <button type="submit" name="option_id" value="{{ option.id }}" class="option-button">
                                {{ option.option_text }}
                            </button>
                        {% else %}
                        <button disabled name="option_id" value="{{ option.id }}" class="option-button">
                            {{ option.option_text }}
                        </button>
                        {% endif %}
                        <p>Votes: {{ option.votes }}</p>
                    </li>
                    {% endfor %}
                    {% endwith %}
                </ul>
            </form>


        </div>
    </li>
    {% empty %}
    <li>No active polls available at the moment.</li>
    {% endfor %}
</ul>
{% endblock %}