* {
    margin: 0; /* Removes all default margins */
    padding: 0; /* Optionally, you can also remove all padding */
    box-sizing: border-box; /* Ensures padding and border are included in the element's width/height */
}

ul {
    list-style: none;
}

#newlistingform {
    border: 1px solid black;
    padding: 10px;
}

header {
    color: white;
    background-color: black;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
}

header h1 {
    margin-bottom: 10px;
}

header a {
    text-decoration: none;
    text-align: center;
    margin-right: 20px;
}

a:link, a:visited {
    color: white;
}


.poll-list-container {
    display: block;
    margin: 0 auto;
    height: auto;
    background-color: beige;
    padding: 20px;
    max-width: 600px;
}

.pollcontainer {
    margin-top: 25px;
}

.polltitle {
    text-align: center;
    margin-bottom: 7px;
}

.options-container {
    border: 1px solid brown;
    background-color: darkkhaki;
    padding: 10px;
    border-radius: 10px;
}

.option-button {
    padding: 5px;
    width: 100%;
    border-radius: 3px;
    font-size: auto;
}

.primary-container {
    max-width: 600px;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

.primary-container a:link, .primary-container a:visited{
    color: blue;
}

.primary-container h1 {
    text-align: center;
}

.primary-container ul {
    font-size: small;
    margin-top: 6px;
    margin-bottom: 6px;
}

.primary-container .helptext {
    font-size: small;
    margin-top: 5px;
    margin-bottom: 5px;
    display:block
}

.primary-container button {
    padding: 10px;
    font-size: large;
    margin: 0 auto;
    display: block;
}